* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}

:root {
    --primary-color: #C490E4;
    --bg-color: #F9F9F9;
    --shadow-button: 0 2px 2px #0000002e;
    --shadow-button-hover: 0 4px 4px #0000002e;
    --shadow-default: 0 2px 6px 0 #00000061;

}

body {
    height: 100vh;
    width: 100vw;
}

.homepage {
    display: flex;
}
.Container {
   border: 1px solid black;
   margin: 4%;
   /* width: max-content; */
   flex : 1
}

.card {
    border: 1px solid red;
    margin: 2%;
    width: 90%;
}
h1 {
    border-bottom: 1px solid gray;
}
form {
    margin: 2%;
    position: relative;
}
 input, select {
    width: 80%;
} 
select , button {
    margin-top: 2%;
}
